@font-face {
    font-family: 'vt323';
    src: url('../fonts/VT323-Regular.ttf');
}

html, body {
    margin : 0;
    text-align: center;
    background-color: #2D2D2D;
}

#pong {
    background-color: rgba(0,0,0,0.6);
    position: relative;
    top: 2em;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);  
}
